.product {
    border: 3px solid #403b69;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 250px;
    text-align: center;
    background: white;
    color: black;
  }
  .text{
    border: 3px solid #403b69;
    border-radius: 8px;
  }
  .product img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  .product h3 {
    font-size: 18px;
    margin: 8px 0;
  }
  
  .product p {
    margin: 8px 0;
  }
  