.dropdown {
  position: absolute;
  top: 5vh;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  min-width: 100%;
  width: 20vw;
  z-index: 1;
}

.suggestion {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  width: 20vw;
  top: 100%;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: #fff;
}

.suggestion:hover {
  background-color: #e9ecef;
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}
