.dropdown {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.25rem;
  max-height: 200px;
  overflow-y: auto;
  min-width: 10vw;
}

.suggestion {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  width: 20vw;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.suggestion:hover {
  background-color: #e9ecef;
}
