.col40 {
  width: 40%;
  height: 100%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.col60 {
  width: 60%;
  float: left;
  display: block;
  text-align: left;
}
.col60 h2 {
  padding: 3vh;
  font-size: 5vh;
}
.productDetails li {
  list-style: none;
  padding: 1vh;
  font-size: 2.5vh;
}
.productDetails {
  text-align: left;
}
h2 {
  font-size: 3vh;
}
.similarProd {
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.c {
  clear: both;
}
button.c {
  margin-bottom: 50px; /* adjust as needed */
}
.productContainer {
  padding: 3vh;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}
.productMain{
  border: 2px solid #860000;
  border-radius: 10px;
  width: 60%;
  margin-right: 50px;
}
.productWLinks{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:60vh;
}
.productWLinks img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
@media screen and (max-width: 768px) {
  .col40 {
    width: 100%;
    float: none;
  }
  .col60 {
    width: 100%;
    float: none;
  }
  .productDetails {
  }
  .productDetails li {
    padding: 0;
  }
  .productDetails h2 {
    font-size: 2vh;
  }
  .productDetails p {
    font-size: 1.5vh;
  }
  .similarProd {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .c {
    clear: both;
  }
  button.c {
    margin-bottom: 50px; /* adjust as needed */
  }
}
