.arrow-down{
    position: sticky;
    bottom: 2vh;
    background-color: #333;
    color: white;
    width: 11vh;
    height: 15vh;
    border-radius: 3vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s;
    color: #ffffff;
    font-size: 50px; 
    animation: pulse 1.5s infinite;
    opacity: 0.9;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
.hidden{
    transition: opacity 1s ease;
    opacity: 0;
}