.waskie {
  display: flex;
  justify-content: center;
  width: 50%;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-justify: inter-word;
}
.products {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .waskie {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .products {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  min-height: 200vh;
  color: rgb(255, 255, 255);
  background: #202124;
}
main {
  color: white;
  background: #202124;
  min-height: 100vh;
}
.mainHeader h1 {
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 7vh;
  font-family: "Roboto", sans-serif;
}
.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("https://e0.pxfuel.com/wallpapers/529/468/desktop-wallpaper-color-dark-red-1-dark-red-background-color-thumbnail.jpg");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.fancy {
  padding: 0.5em 1em;
  font-size: 8vh;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}
.searchedprods {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.mainPage{
  display: flex;
  width:100vw;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sideBar{
  display: flex;
  justify-content: center;
  position: relative;
}
.sort{
  position: absolute;
  display: flex;
  flex-direction: column;

  border: 2px solid #860000;
  width: 75%;
  margin-top: 20%;
  border-radius: 20px;
  text-align: left;
  padding: 5%;
}