h1 {
  position: relative;
  line-height: 100%;
  font-size: 8vh;
  float: left;
}
header {
  width: auto;
  background: rgb(2, 0, 36);
  top: 0px;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-inline: 3vw;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  justify-content: space-between;
}
.header-content {
  display: flex;
  align-items: center;
}
.header-content > :first-child {
  margin-right: 10px; /* Adjust the margin as needed */
}
#logo {
  height: 22vh;
  width: 22vh;
  left: 0;
  position: absolute;
}
