.headerH h1 {
  position: relative;
  line-height: 100%;
  font-size: 8vh;
  float: left;
  color: rgb(255, 255, 255);
}
header {
  width: 100%;
  background: #860000;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-inline: 3vw;
  position: sticky;
  top: 0;
  justify-content: space-between;
  border: 1px #000000;
  z-index: 20;
}
.headerContent {
  height: 100%;
  display: flex;
  align-items: center;
}
.headerContent > :first-child {
  margin-right: 10px;
}
#logo {
  height: 12vh;
  width: 12vh;
  left: 0;
}
@media screen and (max-width: 768px) {
  header {
    height: 10vh;
  }
  #logo {
    height: 10vh;
    width: 10vh;
  }
  h1 {
    display: none;
  }
}
.searchContainer {
  position: relative;
}
