.headerH  h1{
  position: relative;
  line-height: 100%;
  font-size: 8vh;
  float: left;
}
header {
  width: auto;
  background: #860000;
  top: 0px;
  height: 12vh;
  display: flex;
  align-items: center;
  padding-inline: 3vw;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  justify-content: space-between;
  border: 1px #000000;
}
.headerContent {
  height: 100%;
  display: flex;
  align-items: center;
}
.headerContent > :first-child {
  margin-right: 10px; /* Adjust the margin as needed */
}
#logo {
  height: 12vh;
  width: 12vh;
  left: 0;
}
@media screen and (max-width: 768px) {
  header {
    height: 10vh;
  }
  #logo {
    height: 15vh;
    width: 15vh;
  }
  h1 {
    font-size: 5vh;
  }
}
